<tr id="{{ form.getAttributeId() }}" class="{{ controller['modelName'] }}">
    {{ form.get('id')|raw }}
    {{ form.createHidden('multiEditAction')|raw }}

    {% for columnName in controller['structure']|keys %}
        <td>
            <div class="form-group">
                {{ form.get(columnName, {'class': 'form-control'})|raw }}
            </div>
        </td>
    {% endfor %}

    <td>
        <div class="pull-right">
            <a class="delete{{ controller['modelName'] }}" href="#delete" style="margin-right: 15px">
                <i class="fa fa-trash fa-2x"></i>
            </a>
        </div>
    </td>
</tr>

<script>
    registerMultiEditDelete();
</script>
